.cards {
    width: 920px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    
}