.feynman__link {
    position: absolute;
    right: 48px;
    top: 445px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    z-index: 1;
  }
  
  .feynman__link:hover {
    color: #2f80ed;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    opacity: 0.5;
  }