.two-columns {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .two-columns:last-of-type {
    padding: 160px 0 0 0;
  }
  